.ih-button {
  margin: 15px;
  padding: 15px;
  font-size: 20px;
  border: 3px outset black;
  cursor: pointer;
  width: 195px;
}

.ih-button:hover {
  border: 3px inset black;
}

#ih-support {
  background-color: red;
  color: white;
}

#ih-postpone {
  background-color: lightgreen;
}
