Dear fellow Drupal enthusiasts,

I have set this issue to "<a href="http://drupal.org/node/156119">Postponed (Maintainer needs more information)</a>".

If not already done please add an <a href="http://drupal.org/issue-summaries">issue summary</a> and <a href="http://drupal.org/node/1468198">steps how to reproduce the problem</a>.
And please read again, "<a href="http://drupal.org/node/73179">Making an issue report</a>".

Help about how to do this can be found on <a href="http://drupal.org/irc">IRC</a> and in the <a href="http://groups.drupal.org/">user groups</a>.

After there is new information, please re-open the issue by changing the status to active.

--
This issue was edited with the help of <a href="http://drupal.org/sandbox/karst/1988906">Issue Helper</a>