Dear fellow Drupal enthusiasts,

This issue is now lasting for a very long time in the issue queue and was unfortunately never solved. As Drupal is a open source project, everyone is helping on a voluntary basis. That this was not solved is nothing personal and means no harm. But perhaps no one had time to deal with this issue, maybe it is too complex, or the problem was not described comprehensibly.

But this issue is not the only one. There are thousands of issues on Drupal.org that have never been worked on or could not be processed. This means that we are building a wave that is unmanageable and it is a problem for the Drupal project as a whole. Please help us keep the issue queue smaller and more manageable.

Please read again, "<a href="http://drupal.org/node/73179">Making an issue report</a>" and see if you can improve the issue. Test the problem with the <strong>current</strong> Core and modules. Maybe the problem doesn't exist anymore, is a duplicate or has even been solved within this issue but never closed.

Help can also be found for it on <a href="http://drupal.org/irc">IRC</a> and in the <a href="http://groups.drupal.org/">user groups</a>.

In order to close this issue, I have set this issue to "<a href="http://drupal.org/node/156119">Closed (won't fix)</a>".

If there is new information, please re-open the issue by changing the status to active.

--
This issue was edited with the help of <a href="http://drupal.org/sandbox/karst/1988906">Issue Helper</a>